@charset "utf-8";

* {
	box-sizing: border-box;
}
:root {
    --swiper-theme-color: #000;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	border: 0;
}
.clearfix::before{
	content: "";
	display: block;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.content{
    width: 100%;
    background-color: #eaeaea;
}
.content .content_inner{
    max-width: 1200px;
    margin: 0 auto;
}
.content .content_inner h3{
    width: 100%;
    text-align:center;
    padding: 100px 0;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.content .content_inner textarea{
    width: 100%;
    height: 1000px;
    padding: 0 20px; 
}
.content .content_inner .code_box{
    padding-bottom: 100px;
    display: block;
}
.content .content_inner .code_box.active{
    display: none;
}
.content .content_inner .code_box a{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 100px;
    border: 1px solid #fff;
    background-color: #603d99;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.content .content_inner .btn{
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.content .content_inner .btn li{
    display: inline-block;
}
.content .content_inner .btn li a{
    display: block;
    padding: 20px;
    width: 100px;
    border: 1px solid #fff;
    background-color: #603d99;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.content .content_inner .btn li:first-child{
    padding-left: 0;
}
.content .content_inner .code_success{
    width: 100%;
    height: 1000px;
    overflow: auto;
    border: 1px solid #000;
    background-color:rgba(29,31,33);
    color: #fff;
}
.content .content_inner .code_view{
    display: none;
}
.content .content_inner .code_view.active{
    display: block;
}
.content .content_inner .code_success .num{
    color:#767676;
}
span.blue{
    color: #629af8;
}
span.orange{
    color: #d88427;
}
span.green{
    color:#6ba300;
}
span.gray {
    color :#767676;
}
span.puple {
    color :#b77cd5;
}
span.white {
    color :#ffffff;
}
.search {
    float: right;
}
.check_box {
    float: left;
}
.check_wrapper{
    width: 100%;
}
