@charset "utf-8";

* {
	box-sizing: border-box;
}
:root {
    --swiper-theme-color: #000;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	border: 0;
}
.clearfix::before{
	content: "";
	display: block;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
body.fixed{
	overflow: hidden;
}
:root {
    --main-color: #f2ca24;
	--sub-color: #595757;
	--font-color-title: #333333;
	--font-color-sub:#6E6E6E;
	--scroll-color-back:#eeeeee73;
	--scroll-color:rgba(242,202,36);
	--dark-font: #333;
	--font-size-title: 1.125em;
	
}
html { scrollbar-arrow-color: var(--scroll-color-back);
    scrollbar-Track-Color: var(--scroll-color-back); 
    scrollbar-base-color: var(--scroll-color-back);
    scrollbar-Face-Color: var(--scroll-color-back);
    scrollbar-3dLight-Color: var(--scroll-color-back);         
    scrollbar-DarkShadow-Color: var(--scroll-color-back);
    scrollbar-Highlight-Color: var(--scroll-color-back);
    scrollbar-Shadow-Color: var(--scroll-color-back)}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width:12px; height: 12px;}
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: block; width: 0px; height: 0px; background: url() rgba(0,0,0,.05);}
::-webkit-scrollbar-track {  background:var(--scroll-color-back);}
::-webkit-scrollbar-thumb {  background: var(--scroll-color);  border-radius: 6px;}
.dim{
	display: none;
	position: fixed;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	z-index: 13;
	background-color: rgba(0,0,0,0.6);
	text-indent: -999999px;
}
.dim.on, .modal.on{
	display:block;
}
.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 14;
}
.modal .modal_table{
    display: table;
    width: 100%;
    height: 100vh;
}
.modal .modal_table .modal_table_cell{
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
.modal .modal_table .modal_table_cell .modal_table_inner{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-height: 500px;
    overflow: auto;
}
.modal_title{
	position: relative;
}
.modal table{
	width: 100%;
}
.modal table th{
	color: #fff;
	background-color: #666666;
}
#modal_tbody{
	text-align: left;
}
.modal_content{
	padding: 50px 0;
}

span.close{
	position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
	cursor: pointer;
}
span.close::after{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--dark-font);
    border-radius: 10px;
    transform: rotate(45deg);
}
span.close::before{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:var(--dark-font);
    border-radius: 10px;
    transform: rotate(-45deg);
}


.view span.close{
	position: absolute;
    right: 50px;
    top: 25px;
    display: block;
    width: 30px;
    height: 30px;
	cursor: pointer;
}
.view span.close::after{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotate(45deg);
	box-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.view span.close::before{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotate(-45deg);
	box-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}





#header {
	width: 100%;
	height:100vh;
	background-color:#eaeaea;
	font-size:1em;
}
#header .top{
	position:fixed;
	width:100%;
	height:70px;
	background-color:transparent;
	z-index:9;
}
#header .top.fixed{
	background-color:#eaeaea;
	border-bottom:2px solid #fff;
}
#header .top .top_inner{
	margin:0 auto;
	max-width:1200px;
	height:70px;
	overflow:hidden;
}
#header .top .logo{
	float:left;
	width:47px;
	height:28px;
	overflow: hidden;
	margin: 25px 0;
}
#header .top .logo img{
	width:47px;
	height:28px;
}
#gnb {
	float:right;
	text-align:right;
	position: relative;
}
#gnb li {
	display: inline-block;
	font-size:0.938em;
	padding: 25px 2.500em 23.67px;
	cursor: pointer;
}
#gnb li a {
	display: block;
	color:#000;
}
#header .menu li:hover a,
#header .menu li.active a{
	color:#f2cb2c;
}
#header .menu_on{
	display: none;
    float: right;
    position: relative;
    width: 23px;
    height: 70px;
    cursor: pointer;
	margin-left:15px;
}
#header .menu_on::before{
	content:"";
	position:absolute;
	display:block;
	left:0;
	top:40%;
	width:100%;
	height:2px;
	background-color:#f2cb2c;
}
#header .menu_on::after{
	content:"";
	position:absolute;
	display:block;
	left:0;
	top:60%;
	width:100%;
	height:2px;
	background-color:#f2cb2c;
}
#header .menu_on span{
	position:absolute;
	top:50%;
	right:0;
	width: 80%;
	height:2px;
	background-color:#f2cb2c;
}
#gnb .line{
	position: absolute;
	left:0;
	bottom:0;
	height: 2px;
	background-color: #f2cb2c;
	transition:left 0.3s;
}
#mobile{
	position:fixed;
	display:table;
	width:50%;
	height:100vh;
	right:-100%;
	z-index:99999;
	text-align:center;
	background-color:rgba(242,202,36,0.9);
	transition: right 0.3s;
}
#mobile.on{
	right:0;
}
#mobile.on .menu_on{
	display:none;
}
#mobile .menu_close{ 
	position: absolute;
    width: 23px;
    height: 23px;
    left: -40px;
    top: 50px;
	cursor:pointer;
}
#mobile .menu_close span{
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
#mobile .menu_close span::after{
	content:"";
	display:block;
	left:0;
	bottom:10px;
	width:100%;
	height:2px;
	background-color:rgba(242,202,36);
	position:absolute;
	transform:rotate(45deg);
}
#mobile .menu_close span::before{
	content:"";
	display:block;
	left:0;
	bottom:10px;
	width:100%;
	height:2px;
	background-color:rgba(242,202,36);
	position:absolute;
	transform:rotate(-45deg);
}
#mobile .list{
	display:table-cell;
	vertical-align:middle;
}
#mobile .list ul{
	position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}
#mobile .list ul li {
	position:relative;
	line-height: 5;
	font-size:22px;
}
#mobile .list ul li a{
	position:relative;
	color:#fff;
	z-index:1;
}
#mobile .list ul li.active a{
	color:#000;
}
#page1{
	display:table;
	position: absolute;
	top:0;
	left:0;
	margin:0 auto;
	width:100%;
	height:100vh;
	background-color:#eaeaea;
	font-size:1em;
}
#page1 .page1_table{
	display:table-cell;
	vertical-align:middle;
}
#page1 .page1_table .page1_inner{
	margin:0 auto;
	max-width:1200px;
}
#page1 .page1_table .page1_inner .page1_cover{
	width:100%;
	text-align:center;
	position:relative;
}
#page1 .page1_table .page1_inner .page1_cover .name{
	font-size:5.156em;
	font-weight:900;
	padding-top:100px;
}
#page1 .page1_table .page1_inner .page1_cover .name li{
	color:#ffffff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#page1 .page1_table .page1_inner .page1_cover .name li:nth-child(1){
	color:#52686a;
	text-shadow: -1px 0 #52686a, 0 1px #52686a, 1px 0 #52686a, 0 -1px #52686a;
}
#page1.aos .page1_table .page1_inner .page1_cover .name li:nth-child(2){
	opacity: 0.6;
	transition:opacity 1s;
	transition-delay: 0.8s;
}
#page1.aos .page1_table .page1_inner .page1_cover .name li:nth-child(3){
	opacity: 0.3;
	transition:opacity 1s;
	transition-delay: 1s;
}
#page1.aos .page1_table .page1_inner .page1_cover .name li:nth-child(4){
	opacity: 0.15;
	transition:opacity 1s;
	transition-delay: 1.2s;
} 
#page1 .page1_table .page1_inner .page1_cover .my_image{
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}
#page1 .page1_table .page1_inner .page1_cover .text span{
	position:relative;
}
#page1 .page1_table .page1_inner .page1_cover .text{
	position:absolute;
	top:80%;
	color: rgba(242, 203, 44, 1);
	width:100%;
	text-align:center;
	font-size:5.625em;
	font-weight:900;
	text-shadow: 1px 5px 23px #000;
}
#page2 {
	width:100%;
	background-color:#eaeaea;
	font-size: 1em;
}
#page2 .title_background{
	width:100%;
	background: url(../images/background3.png) no-repeat right center;
	background-size:contain;
	padding-top:6.250em;
}
#page2 .title_background .title_background-inner{
	margin: 0 auto;
	max-width:1200px;
}
#page2 .title_background .title{
	font-size:3.750em;
	font-weight:900;
	color:#fff;
}
#page2 .title_background .title_sub{
	padding: 8.375em;
	width:100%;
	text-align:left;
	box-sizing: border-box;
	font-weight:700;
	color:#000;
}
#page2 .title_background .title_sub br.br1{
	display:none;
}
#page2 .title_background .title_sub .span{
	font-size:1.875em;
}
#page2 .title_background .title_sub .span1{
	position:relative;
	z-index:1;
}
#page2 .title_background .title_sub .span1::before{
	content:"";
	position:absolute;
	display:block;
	top:30%;
	left:0;
	width:100%;
	height:50%;
	background-color:#f2cb2c;
	z-index:-1;
}
#page2 .title_background .title_sub .span1_1{
	color:#f2cb2c;
}
#page2 .title_background .title_sub .span2{
	display:block;
	color:#666;
	font-size:1.250em;
	font-weight:500;
	padding: 20px 0 0;
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#page2 .content{
	width:100%;
	background: linear-gradient(to right, #fff 50%, #eaeaea 50%);
}
#page2 .content .content_inner{
	margin:0 auto;
	max-width:1200px;
	padding-bottom:100px;
	background-color:#fff;
}
#page2 .content .content_inner .content_box{
	width:100%;
	background-color:#fff;
}
#page2 .content .content_inner .content_box .about_left,
#page2 .content .content_inner .content_box .about_right{
	float:left;
	width:50%;
	position:relative;
}
#page2 .content .content_inner .content_box .my_image{
	margin-top: -9px;
    padding-left: 8.375em;
    width: 400px;
}
#page2 .content .content_inner .content_box .my_image img{
	width:100%;
}
#page2 .content .content_inner .content_box .about1,
#page2 .content .content_inner .content_box .about2,
#page2 .content .content_inner .content_box .about3,
#page2 .content .content_inner .content_box .about4,
#page2 .content .content_inner .content_box .about5{
	padding-top:45px;
}
#page2 .content .content_inner .content_box .about1{
	padding-top:40px;
}
#page2 .content .content_inner .content_box .about4{
	display:table;
	width:100%;
}
#page2 .content .content_inner .content_box .about4 > ul {
	display:table-cell;
}
#page2 .content .content_inner .content_box .title{
	font-size:1.613em;
	color:#f2c923;
	position: relative;
	padding-left:25px;
	box-sizing:border-box;
}
#page2 .content .content_inner .content_box .title::before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:20%;
	width:5px;
	height:22.5px;
	background-color:#f2c923;
}
#page2 .content .content_inner .content_box .about1 ul ul,
#page2 .content .content_inner .content_box .about2 ul ul,
#page2 .content .content_inner .content_box .about3 ul ul,
#page2 .content .content_inner .content_box .about4 ul ul,
#page2 .content .content_inner .content_box .about_down ul ul{
	padding-top:25px;
}
#page2 .content .content_inner .content_box ul ul li{
	font-size:0.875em;
	line-height:3;
	color:#666;
	font-weight:200;
}
#page2 .content .content_inner .content_box ul ul li span{
	line-height: 2;
}
#page2 .content .content_inner .content_box ul ul li span.span_container{
	display:inline-table;
	text-align:left;
	padding-left:30px;
	box-sizing:border-box;
}
#page2 .content .content_inner .content_box ul ul li span.span1{
	font-weight: 500;
}
#page2 .content .content_inner .content_box ul ul li span.span2{
	font-weight: 300;
}
#page2 .content .content_inner .content_box .bottom_con{
	width:100%;
}
#page2 .content .content_inner .content_box .about3 span.span1{
	padding-left:30px;
	box-sizing:border-box;
}
#page2 .content .content_inner .content_box .about_down{
	/*padding-top:48.563em;*/
	padding-top: 334px;
	z-index:1;
}
#page2 .content .content_inner .content_box .about_down span.span_title{
	float: left;
	display: block;
    width: 50%;
    text-align: left;
}
#page2 .content .content_inner .content_box .about_down span.span1{
	float: left;
	display: block;
    width: 50%;
    text-align: left;
}
#page2 .content .content_inner .content_box .about_down .portfolio_down{
	clear: both;
    width: 173.35px;
    background-color: #f2c923;
    font-size: 13.5px;
    margin: 15px 50%;
}
#page2 .content .content_inner .content_box .about_down .portfolio_down a{
	display:block;
	width:100%;
	padding: 6.5px 0;
	text-align:center;
	color:#fff;
}
#page2 .content .content_inner .content_box .about4 ul ul li {
	display: inline-table;
    margin-left: 15px;
	width:80px;
	height:80px;
    border: 1px solid #f2c923;
    border-radius: 50%;
    text-align: center;
}
#page2 .content .content_inner .content_box .about4 ul ul li:nth-child(1){
	margin-left:0;
}
#page2 .content .content_inner .content_box .about4 ul ul li span.span1{
	display:table-cell;
	vertical-align:middle;
}
#page3{
	width:100%;
	background-color:#eaeaea;
}
#page3 .page3_inner{
	padding: 100px 0;
	margin:0 auto;
	max-width:1200px;
}
#page3 .page3_inner .page3_title{
	font-size:1em;
}
#page3 .page3_inner .title{
	font-size:3.750em;
	font-weight:900;
	color:#fff;
}
#page3 .page3_inner .title_sub{
	width:100%;
	text-align:center;
	font-size:1.875em;
	padding:100px 0;
}
#page3 .page3_inner .title_sub span.span1{
	color:#666;
	font-weight:300;
}
#page3 .page3_inner .title_sub span.span2{
	color: #f2ca24;
	font-weight:700;
}
#page3 dt, #page3 dd{
	margin: 0;
}
#page3 .content{
	padding: 0 50px;
}
#page3 .content ul{
	display: flex;
	justify-content: center;
}
#page3 li{
	text-align: center;
	
	margin-left: 50px;
}
#page3 li:first-child{
	margin-left: 0;
}
#page3 li dt{
	cursor: pointer;
	width: 100%;
	background-color: #fff;
	border-radius: 50%;
	padding: 30px;
}
#page3 li dt:hover{
	background-color: #f2ca24;
}
#page3 li dt img{
	width: 100%;
}
#page3 li dd{
	margin-top: 10px;
	font-size: 13px;
}
.view{
	position: fixed;
	left: 0;
	bottom: -100vh;
	background-color: rgba(242,202,36, 0.8);
	text-align: center;
	width: 100%;
	height: 100vh;
	padding: 30px;
	box-shadow: 0px -10px 10px 1px rgb(0 0 0 / 10%);
	transition: bottom 0.3s;
	z-index: 11;
}
.view.active{
	bottom: calc(-100vh + 90px);
}
.view.top{
	background-color:rgba(242,202,36, 1);
	transition: 1s;
	bottom: 0;
}

.view span.view_title{
	font-weight: 700;
	color: #fff;
	font-size: 22px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	
}
.view .title_box{
	position: relative;
}
#pptx{
	display: none;
}
.view.top #pptx{
	width: 100%;
	height: calc(100vh - 90px);
	display: block;
}
.view.top .content{
	padding-top: 30px;
}

@media only screen and (max-width: 1000px) {
	#page3 .content {
		padding: 0 200px;
	}
	#page3 .content ul{
		flex-wrap: wrap;
	}
	#page3 .content li{
		margin-left: 10px;
		width: calc((100% - 20px)/3);
	}
	#page3 .content li:nth-child(3n+1){
		margin-left:0;
	}
}



#demo{
	padding-top: 50px;
	clear: left;
}

#demo .circlechart{
	cursor: pointer;
	transition: transform 0.3s;
}
.circlechart:hover{
	transform: translateY(-10px);
	
}
#page2 .sub{
	margin-left: 10px;
	font-size:10px;
	color: #666;
	font-weight: 300;
	text-decoration: underline;
}
#page4{
	width:100%;
	background-color:#eaeaea;
	font-size:1em;
}
#page4 .page4_inner{
	margin: 0 auto;
	max-width:1200px;
	background-color:#eaeaea;
	padding: 100px 0;
}
#page4 .page4_inner .title{
	font-size:3.750em;
	font-weight:900;
	color:#fff;
}
#page4 .page4_inner .contents{
	position:relative;
	width:100%;
	padding: 100px 0 100px 100px;
	box-sizing:border-box;
}
#page4 .page4_inner .contents .banner1{
	float:left;
	width: calc((100% - 204px)/2);
	height:448px;
	background: url(../images/banner1.JPG) no-repeat center center;
	background-size: cover;
}
#page4 .page4_inner .contents .box{
	float:left;
	width: calc((100% - 1px)/2);
	margin-left:50px;
}
#page4 .page4_inner .contents .text1{
	position:relative;
	float: left;
}
#page4 .page4_inner .contents .text_box{
	float: left;
    clear: left;
	width: calc((100% - 204px)/2);
}
#page4 .page4_inner .contents .text2{
	position:relative;
	margin-top: 200px;
	text-align:right;
}
#page4 .page4_inner .contents .text2 span.span_title::before{
	right:0;
	left: auto;
}
#page4 .page4_inner .contents span.span_title{
	display: block;
    font-size: 1.875em;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 0;
}
#page4 .page4_inner .contents span.span_title::before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	width: 20px;
	height: 6px;
	background-color:#f2c923;
}
#page4 .page4_inner .contents span.sub{
	font-size:1.250em;
	font-weight:500;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#page4 .page4_inner .contents span.span1{
	width: 70%;
	font-size:1em;
	font-weight:300;
	color:#666;
	line-height:2;
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
#page4 .page4_inner .contents .text_box1{
	display:none;
}
#page4 .page4_inner .contents .text_box span.span1{
	width:100%;
}
#page4 .page4_inner .contents .banner2{
	float: left;
    width: calc((100% - 150px)/2);
    margin-top: -7%;
	margin-left: 50px;
}
#page4 .page4_inner .contents .banner2 .main{
	margin-top: 30px;
	width: 100%;
	height:448px;
	background: url(../images/banner2.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .page4_inner .contents .banner2 ul{
	display: flex;
	justify-content: space-between;
	margin-top:40px;
}
#page4 .page4_inner .contents .banner2 ul li {
	display:inline-block;
	margin-left:40px;
	width:calc((100% - 44px)/2);
	height:15.526vw;
}
#page4 .page4_inner .contents .banner2 ul li:nth-child(1){
	margin-left:0;
	background:url(../images/banner3.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .page4_inner .contents .banner2 ul li:nth-child(2){
	background:url(../images/banner4.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .page4_inner .contents .phone_back{
	width:223px;
	float:left;
	clear:both;
}
#page4 .page4_inner .contents .phone_back img {
	width:100%;
}
#page4 .page4_inner .contents .phone_slider{
	position:relative;
	width:223px;
	height:447.47px;
	float:left;
	margin-left:50px;
	margin-top:200px;
}
#page4 .page4_inner .contents .phone_slider .image_border{
	position:relative;
	margin:0 auto;
	margin-top:223.735px;
	width:1px;
	height:1px;
	border-image: url('../images/cellphone.png') 0 fill / 0 / 232px 124px;
	z-index:8;
} 
#page4 .page4_inner .contents .text3{
	position:relative;
	float: left;
    width: 30%;
    margin-left: 50px;
    margin-top: 250px;
}
#page4 .page4_inner .contents .text3 span.span1{
	width:100%;
}
#page4 .slider_box{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
    overflow: hidden;
}
#page4 .swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
#page4 .swiper-slide {
	text-align: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
#page4 .swiper-slide:hover{
	opacity:0.8;
}
#page4 .swiper-container .slider1{
	background:url(../images/bottom1.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .swiper-container .slider2{
	background:url(../images/bottom2.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .swiper-container .slider3{
	background:url(../images/bottom3.jpg)no-repeat right -30px center;
	background-size:cover;
}
#page4 .swiper-container .slider4{
	background:url(../images/bottom4.jpg)no-repeat right center;
	background-size:cover;
}
#page4 .swiper-container .slider5{
	background:url(../images/bottom5.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .swiper-container .slider6{
	background:url(../images/bottom6.jpg)no-repeat right center;
	background-size:cover;
}
#page4 .swiper-container .slider7{
	background:url(../images/bottom7.jpg)no-repeat center center;
	background-size:cover;
}
#page4 .swiper-container .slider8{
	background:url(../images/bottom8.jpg)no-repeat center center;
	background-size:cover;
}
#footer{
	width:100%;
	background: url(../images/footer.png)no-repeat right center;
	background-size:cover;
	font-size:1em;
}
#footer .footer_inner{
	max-width:1200px;
	margin:0 auto;
}
#footer .footer_inner .text{
	text-align:center;
	line-height:5;
	padding:4.063em 0;
}
#footer .footer_inner .text span.top{
	font-size:1.375em;
	color:#fff;
	font-weight:700;
}
#footer .footer_inner .text span.bottom{
	font-size:0.813em;
	color:#fff;
	font-weight:200;
}
.title{
	position:relative;
}
.title span{
	position:absolute;
	left: 220px;
    top: 20px;
	-moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
.title span::before{
	content: '';
	speak-as: never;
    display: inline-block;
    text-decoration: inherit;
    width: 9px;
	height:9px;
    margin-right: .2em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
	background-color:transparent;
	border:2px solid #fff;
	border-radius:50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.circlechart {
    float: left;
    padding: 20px;
}
button {
	padding: 5px 15px;
	background-color: #666;
	color: #000;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.5s;
}
button:hover {
	background-color: #888;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
	position: relative;
	width: 500px;
	height: 500px;
}
.control {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	margin: -40px 0 0 -40px;
	width: 80px;
	height: 80px;
	opacity: 0.5;
	border-radius: 40px;
}
.control img {
	max-width: 100%;
}
#my_video {
	visibility: hidden;
    width: 100%;
    height: auto;
    z-index: 4;
    left: 0;
    top: 0;
    position: relative;
}
#page3 .videos{
    display: flex;
    justify-content: space-between;
}
.videoDim{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 101%;
    z-index: 5;
    background-color: rgba(000,000,000);
}
.videoDim.opa{
    background-color: rgba(000,000,000, 0.5);
}
.videoDim.ipad{
    background: url("../images/ipadBack.png") no-repeat top center;
}
#page3 .videos .left{
    width: 200px;
}
#page3 .videos .right{
    width: 100%;
    position: relative;
}

#page3 .videos .left li{
    margin-left: 0;
    padding-left: 13px;
	box-sizing: border-box;
	line-height: 3;
	position: relative;
	cursor: pointer;
    font-size: 1.250em;
    font-weight: 300;
    color: #6A6A6A;
    text-align: left;
}
#page3 .videos .left li:hover::after{
    background-color: #a63145;
}
#page3 .videos .left li:hover{
    color: #a63145;
}
#page3 .videos .left li::before{
	content:"";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #DDDDDD;
}
#page3 .videos .left li::after{
	content:"";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 20px;
	height: 3px;
	background-color: #CDCDCD;
}
#page3 .videos .left li.active::after{
	background-color: #a63145;
}
#page3 .videos .left li a{
	font-size: 1.250em;
	font-weight: 300;
	color: #6A6A6A;
}
#page3 .videos .left li.active a{
	color: #a63145;
}
.videoImage{
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-image: url(../images/tablet-1593045_1280.png) 0 fill / 0 / 70px 52px  stretch;
}
.videoHome{
    position: absolute;
    left: 0;
    bottom:-9%;
    width: 100%;
    text-align: center;
    height: 5%;
}
.videoHomebtn{
    display: block;
    width: 8%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}
#page3 .icons{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
#page3 .icons.ipad{
    z-index: 6;
}
#page3 .icons-inner{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
	
}
#page3 .icons-inner ul{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(215,215,216,0.4);
    border-radius: 20px;
}
#page3 .icons-inner ul li{
    cursor: pointer;
}
#page3 .icons-inner ul li img{
    width: 100%;
}
#page3 .icons-inner ul li span{
    display: block;
    font-size: 10px;
    margin-top: 10px;
    color: #fff;
}
.path-thumb{
    width: 100%;
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    height: 30px;
    font-weight: 700;
    color: #333;
}
.path-thumb i{
    display: block;
    animation:  3s ease 0s infinite normal none running;
	animation-name: mouseClick_icon;
}
.path-text{
    display: block;
    text-align: center;
    padding-top: 60px;
    color: #333;
}
.download{
	clear: left;
	padding-top: 50px;
	text-align: center;
}
.download button[type= button]{
	background-color: var(--main-color);
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
}
@keyframes mouseClick_icon {
	0%{
		margin-top: 0px;
	}
	50%{
		margin-top: 10px;
	}
	100%{
		margin-top: 0px;
	}
}


@keyframes spin {
	0%{
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@media only screen and (max-width: 1325px){
    #page3 .videos{
        padding: 0 65px;
    }
    .videoImage{
        left: 0;
        top: 0;
        border-image: url(../images/tablet-1593045_1280.png) 0 fill / 0 / 4.7vw 3vw stretch;
    }
}
@media only screen and (max-width: 1200px){
	#header .top .top_inner{
		padding: 0 20px;
	}
	#page2, #page3 .page3_inner .page3_title, #page4, #footer{
		font-size: 0.875em;
	}
	#page2 .title_background .title_background-inner{
		padding: 0 20px;
	}
	#page2 .content .content_inner{
		position:relative;
		padding: 0 20px 100px;
		box-sizing:border-box;
	}
	#page2 .content .content_inner .content_box .about_left,
	#page2 .content .content_inner .content_box .about_right{
		width:100%;
	}
	#page2 .content .content_inner .content_box .about_left{
		text-align:center;
		position:static;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li {
		margin-left: 15px;
		width: calc((100% - 36.1px)/3);
		border-radius: 15px;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li:nth-child(4){
		margin-left:0;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li:nth-child(1n+4){
		margin-top:15px;
	}
	#page2 .content .content_inner .content_box .about_down{
		padding-top:0;
		position: absolute;
		bottom: 144px;
		right: 0;
		width: calc((100% - 50px)/2);
		text-align:left;
	}
	#page2 .content .content_inner .content_box .about_down .portfolio_down{
		margin:0 auto;
		margin-top: 50px;
	}
	#page2 .content .content_inner .content_box .about1, 
	#page2 .content .content_inner .content_box .about2, 
	#page2 .content .content_inner .content_box .about3, 
	#page2 .content .content_inner .content_box .about4, 
	#page2 .content .content_inner .content_box .about5{
		padding-top: 45px;
		margin-right: 50px;
		width: calc((100% - 50px)/2);
		float: left;
	} 
	#page2 .content .content_inner .content_box .about2{
		margin-right: 0;
	}
	#page2 .content .content_inner .content_box .about1{
		padding-top:45px;
	}
	#page2 .content .content_inner .content_box .my_image{
		padding-left:0;
		width:100%;
	}
	#page2 .content .content_inner .content_box .my_image img{
		width:282.75px;
	}
	#page2 .content .content_inner .content_box ul ul li span.span_container{
		width: auto;
		padding-left:15px;
	}
	#page2 .content .content_inner .content_box ul ul li span.span1{
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	#page2 .content .content_inner .content_box ul ul li span.span_container br{
		display:none;
	}
	#page2 .content .content_inner .content_box .about3 {
		padding-bottom:100px;
	}
	#page2 .content .content_inner .content_box .about3 ul ul li span.span1{
		display:unset;
	}
	#page3 .page3_inner .my_slider .swiper-container{
		width:90%;
	}
	#page3 .page3_inner .my_slider .swiper-button-prev, 
	#page3 .page3_inner .my_slider .swiper-button-next{
		left:2.5%;
	}
	#page4 .page4_inner .contents .banner1,
	#page4 .page4_inner .contents .banner2 .main{
		height:32.528vw
	}
	#page4 .page4_inner .contents .phone_back{
		display:none;
	}
	#page4 .page4_inner .contents{
		padding-left:0;
	}
	#page4 .page4_inner{
		padding: 100px 20px;
	}
	#page4 .page4_inner .contents .phone_slider{
		margin-left:0;
		clear:both;
	}
	#page4 .page4_inner .contents .text3{
		float:left;
		width:50%;
	}
    #page3 .page3_inner .skill_code{
        float: none;
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding: 30px 0px;
    }
    .code_view-text{
        display: none;
    }
    #page3 .page3_inner .my_slider .container{
        margin: 0 auto;
        float: none;
    }
    #page3 .page3_inner .slider_btn {
        width: 100%;
        position: absolute;
        top: 0;
        float: none;
    }
    #page3 .page3_inner .slider_btn .slider_btn-inner{
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: 60px;
    }
    #page3 .page3_inner .prev{
        left: -150px;
        margin-top: 180px;
        position: relative;
    }
    #page3 .page3_inner .next{
        left: 170px;
        margin-top: 0;
        top: 0;
    }
    #page3 .page3_inner .pagination{
        float: none;
        position: absolute;
        top: 440px;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 740px){
	#header{
		font-size:0.458em;
	}
	#page1 .page1_table .page1_inner .page1_cover .my_image img{
		width:246px;
	}
	#page2, #page3 .page3_inner .page3_title, #page4, #footer{
		font-size: 0.813em;
	}
	#page3 .page3_inner .my_slider{
		font-size: 0.625em;
	}
	#page2 .title_background .title_sub{
		padding-left:0;
		padding-right:0;
	}
	#page2 .title_background .title_sub br.br1{
		display:inline;
	}
	#page2 .content .content_inner .content_box .my_image img{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 5px solid #fff;
	}
	#page2 .title_background .title_sub .span2 br{
		display:none;
	}
	#page2 .content .content_inner .content_box .about4{
		width:100%;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li{
		margin-left: 15px;
		width: calc((100% - 36.1px)/2);
		border-radius: 15px;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li:nth-child(4){
		margin-left: 15px;
	}
	#page2 .content .content_inner .content_box .about4 ul ul li:nth-child(2n+1){
		margin-left:0;
	}
	#page2 .content .content_inner .content_box ul ul li span.span_container{
		padding-left:0;
		margin-left:15px;
	}
	#page2 .content .content_inner .content_box .about1, 
	#page2 .content .content_inner .content_box .about2{
		width:calc((100% - 15px)/2);
		margin-right:0;
	}
	#page2 .content .content_inner .content_box .about2{
		margin-left:15px;
	}
	#page2 .content .content_inner .content_box .about_down{
		display:none;
	}
	#page3 .page3_inner{
		padding: 100px 20px;
	}
	#page3 .page3_inner .my_slider .swiper-button-next,
	#page3 .page3_inner .my_slider .swiper-button-prev{
		display:none;
	}
	#page3 .page3_inner .my_slider .swiper-container{
		width:100%;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_out dl dt,
	#page3 .page3_inner .my_slider .swiper-slide .mouse_out dl dd{
		text-align:center;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_over{
		opacity:1;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_over .text{
		color:#fff;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_over .text ul li{
		text-align:center;
		line-height: 2;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_over .text ul li .span1{
		display:none;
	}
	#page3 .page3_inner .my_slider .swiper-slide .mouse_over .text ul li .span2{
		width:100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	#page4 .page4_inner .contents .banner1{
		height: 92.298vw;
		width:100%;
		float: none;
	}
	#page4 .page4_inner .contents .box{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	#page4 .page4_inner .contents .text1{
		text-align:center;
	}
	#page4 .page4_inner .contents span.span1{
		width:100%;
	}
	#page4 .page4_inner .contents .text_box1{
		display:block;
		clear:both;
		margin:0 auto;
		width:100%;
	}
	#page4 .page4_inner .contents .text_box{
		display:none;
	}
	#page4 .page4_inner .contents span.span_title{
		position:relative;
	}
	#page4 .page4_inner .contents span.span_title::before{
		display:none;
	}
	#page4 .page4_inner .contents .banner2{
		clear:both;
		margin:0 auto;
		width:100%;
		float:none;
		padding-top:100px;
	}
	#page4 .page4_inner .contents .text2{
		text-align:center;
		margin-top:0;
	}
	#page4 .page4_inner .contents .text3{
		clear:both;
		margin: 0 auto;
		padding-top:0;
		float:none;
		width:100%;
		text-align:center;
		margin-top:-200px;
	}
	#page4 .page4_inner .contents .text3 span.span_title::before{
		display:none;
	}
	#page4 .page4_inner .contents .phone_slider{
		margin: 0 auto;
		float:none;
	}
	#page4 .slider_box{
		top: -223.735px;
	}
	#page4 .page4_inner .contents .phone_slider .image_border{
		margin-top: 323.735px;
	}
	#page4 .page4_inner .contents .banner2 ul{
		margin-top:10px;
	}
	#page4 .page4_inner .contents .banner2 ul li{
		margin-left: 10px;
		width: calc((100% - 15px)/2);
		height: 45.28vw;
	}
	#page4 .page4_inner .contents .banner2 .main{
		height: 92.298vw;
		width:100%;
	}
	#page1{
		font-size:0.875em;
	}
	#page1 .page1_table .page1_inner .page1_cover .name{
		padding-top:60px;
	}
	#page1 .page1_table .page1_inner .page1_cover .my_image{
		top:30px;
	}
	#page1 .page1_table .page1_inner .page1_cover .my_image img{
		width:206px;
	}
	.title span{
		left:190px;
		top:10px;
	}
	
	#page3 li dt{
		padding: 28px;
	}
	#page3 .content {
		padding: 0 150px;
	}
	#page3 .content ul{
		flex-wrap: wrap;
	}
	#page3 .content li{
		margin-left: 10px;
		width: calc((100% - 10px)/2);
	}
	#page3 .content li:nth-child(3n+1) {
		margin-left: 10px;
	}
	#page3  .content li:nth-child(2n+1){
		margin-left:0;
	}
}

@media only screen and (max-width: 725px){
    #page3 .videos{
        padding: 0 10px;
    }
    .path-thumb{
        padding-top:50px;
    }
}
@media only screen and (max-width: 530px){
	#page2 .content .content_inner .content_box .about1, 
	#page2 .content .content_inner .content_box .about2{
		width:100%;
		margin-left:0;
	}
    #page3 .page3_inner .slider_btn{
        display: none;
    }
    #page2 .content .content_inner .content_box .title::before{
        height: 20px;
        top: 17%;
    }
	#page3 li dt{
		padding: 30px;
	}
	#page3 .content {
		padding: 0 100px;
	}
	#page3 .content ul{
		flex-wrap: wrap;
	}
	#page3 .content li{
		margin-left: 10px;
		width: 100%;
		margin-left: 0;
	}
	#page3 .content li:nth-child(3n+1) {
		margin-left: 0;
	}
	#page3 .content li:nth-child(2n+1){
		margin-left:0;
	}
}
@media only screen and (max-width: 500px){
    #page3 .icons-inner ul{
        padding: 10px 5px;
    }
    .path-thumb{
        padding-top:15px;
    }
}
@media only screen and (max-width: 360px){
	#gnb{
		display:none;
	}
	#header .menu_on{
		display:block;
	}
	#page2, #page3 .page3_inner .page3_title, #page4{
		font-size: 0.688em;
	}
	#page3 .page3_inner .my_slider{
		font-size: 0.563em;
	}
	#page1 .page1_table .page1_inner .page1_cover .name{
		padding-top:20px;
	}
	#page1 .page1_table .page1_inner .page1_cover .my_image{
		top:0;
	}
	.title span {
		left: 160px;
		top: 10px;
	}
	#page3 .content {
		padding: 0;
	}
	
}

@media (prefers-color-scheme: dark) {
	:root{
		--dark-font: #fff;
	}
	.modal_title{
		color:#333;
	}
}