@charset "UTF-8";
/*본문 바로가기 입니다.*/
.skip_nav a { display: block; position: fixed; left: 0; z-index: 3; top: -1000px; width: 100%; line-height: 40px; text-align: center; font-size: 14px; background-color: #385170; color: #fff; }

.skip_nav a:focus { top: 0; }

#header .top { min-width: 1085px; background-color: #fafafa; height: 39px; overflow: hidden; }
#header .top .top_inner { margin: 0 auto; width: 1085px; margin-top: 5px; font-size: 0; }
#header .top .top_inner li { display: inline-block; padding: 0 7px; line-height: 29px; position: relative; font-weight: 200; }
#header .top .top_inner li::after { content: ""; display: block; position: absolute; z-index: 2; right: 0; top: 7px; width: 1px; height: 15px; background-color: #d6d6d6; }
#header .top .top_inner li:last-child::after { display: none; }
#header .top .top_inner li a { display: block; padding: 0 7px; line-height: 29px; color: #555555; font-size: 13px; }
#header .search { margin: 0 auto; position: relative; width: 1085px; height: 94px; }
#header .search .logo { float: left; margin-top: 27px; width: 233px; height: 52px; }
#header .search .srh { position: relative; float: left; width: 600px; height: 29px; margin-top: 44px; margin-left: 50px; }
#header .search .srh input[type=text] { width: 400px; height: 29px; vertical-align: middle; font-size: 14px; font-weight: 200; color: #444444; border: 0; border-bottom: 2px solid #444444; }
#header .search .srh [type=button] { background-color: #444444; color: #fff; border: none; padding: 6px 16px; border-radius: 5px; margin-left: 10px; }
#header .search .srh .src_icon { position: absolute; display: block; top: 5px; left: 370px; }
#header .search .srh .src_btn { display: inline-block; }
#header .search .srh img { width: 24px; height: 24px; padding-bottom: 12px; }
#header .menu { position: absolute; left: 0; top: 133px; width: 100%; z-index: 10000; min-width: 1085px; overflow: hidden; background-color: #fff; text-align: center; height: 69px; transition: height 0.4s; }
#header .menu.active, #header .menu:focus { height: 424px; }
#header .menu .menu_banner { padding: 17px 0; width: 100%; height: 74px; text-align: center; box-sizing: border-box; }
#header .menu .menu_banner:hover a, #header .menu .menu_banner:focus a { background-color: #444444; }
#header .menu .menu_banner a { display: inline-block; margin: 0 5px; margin-left: 32px; margin-top: 280px; padding: 0 16px; line-height: 40px; font-size: 14px; font-weight: 500px; background-color: #cc1a3f; color: #fff; border-radius: 3px; }
#header .slider { margin-top: 69px; min-width: 1085px; }
#header .slider img { /*margin-left: -16px*/ height: 347px; }
#header .slider .swiper-container { width: 100%; min-width: 1085px; height: 482px; background-color: #cc1a3f; z-index: 3; }
#header .slider .swiper-container .swiper-slide { display: flex; justify-content: center; align-items: center; margin-top: 81px; height: 347px; background: #fff; overflow: hidden; }
#header .slider .swiper-container .swiper-slide:nth-child(1) { background: url(../images/slider1.jpg) no-repeat center center; background-size: cover; }
#header .slider .swiper-container .swiper-slide:nth-child(2) { background: url(../images/slider2.jpg) no-repeat center center; background-size: cover; }
#header .slider .swiper-container .swiper-slide:nth-child(3) { background: url(../images/slider3.jpg) no-repeat center center; background-size: cover; }
#header .slider .swiper-container .swiper-slide:nth-child(4) { background: url(../images/slider4.jpg) no-repeat center center; background-size: cover; }
#header .slider .swiper-container .swiper-slide:nth-child(5) { background: url(../images/slider5.jpg) no-repeat center center; background-size: cover; }
#header .slider .swiper-container .swiper-slide a { display: block; width: 100%; height: 100%; }
#header .slider .swiper-container .swiper-button-prev { left: 0; width: 70px; height: 70px; color: #000; }
#header .slider .swiper-container .swiper-button-next { right: 0; width: 70px; height: 70px; color: #000; }
#header .slider .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 22px; }
#header .slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 8px; height: 11px; width: 11px; background-color: transparent; opacity: 1px; border: 1px solid #fff; }
#header .slider .swiper-button-prev.swiper-button-disabled, #header .slider .swiper-button-next.swiper-button-disabled { opacity: 1; }

#gnb { margin: 0 auto; width: 1085px; height: 69px; font-size: 0; }
#gnb > ul > li { display: inline-block; position: relative; padding: 0 37px; }
#gnb > ul > li::after { content: ""; display: block; position: absolute; right: 0; top: 23px; width: 1px; height: 21px; background-color: #a3a3a3; }
#gnb > ul > li:last-child::after { display: none; }
#gnb > ul > li::before { content: ""; display: block; position: absolute; top: 70px; left: 0; width: 100%; height: 1px; color: #000; }
#gnb > ul > li:hover::before { content: ""; display: block; position: absolute; left: 40px; bottom: 23px; width: 84px; height: 2px; background-color: #cc1a3f; }
#gnb > ul > li:hover:nth-child(2)::before, #gnb > ul > li:hover:nth-child(3)::before { content: ""; display: block; position: absolute; left: 38px; bottom: 23px; width: 84px; height: 2px; background-color: #000; }
#gnb > ul > li:hover:nth-child(4)::before, #gnb > ul > li:hover:nth-child(5)::before, #gnb > ul > li:hover:nth-child(6)::before { content: ""; display: block; position: absolute; left: 38px; bottom: 23px; width: 35px; height: 2px; background-color: #000; }
#gnb > ul > li:hover:nth-child(7)::before { content: ""; display: block; position: absolute; left: 38px; bottom: 23px; width: 53px; height: 2px; background-color: #cc1a3f; }
#gnb > ul > li:hover:nth-child(8)::before { content: ""; display: block; position: absolute; left: 38px; bottom: 23px; width: 35px; height: 2px; background-color: #cc1a3f; }
#gnb > ul > li > a { display: block; padding: 0 7px; line-height: 69px; font-size: 18px; font-weight: 700; color: #010101; }
#gnb > ul > li > a:hover, #gnb > ul > li > a:focus { color: #cc1a3f; }
#gnb > ul > li > a:first-child { padding-left: 0; margin-left: 0; }
#gnb > ul > li:nth-child(6n+1) > a, #gnb > ul > li:nth-child(7n+1) > a { color: #cc1a3f; }
#gnb ul ul { position: absolute; left: 0; padding: 30px 0; width: 100%; }
#gnb ul ul a { display: block; line-height: 50px; font-size: 14px; font-weight: 500; color: #868686; }
#gnb ul ul a:hover, #gnb ul ul a:focus { color: #cc1a3f; }

#section .top { background-color: #fff; min-width: 1085px; height: 397px; }
#section .top .banner_inner { margin: 0 auto; width: 1085px; height: 397px; }
#section .top .banner_inner .title { margin-top: 34px; position: relative; }
#section .top .banner_inner .title h3 { font-size: 30px; font-weight: 700; color: #000000; }
#section .top .banner_inner span { position: absolute; top: 19px; left: 167px; font-size: 14px; font-weight: 500; color: #979797; }
#section .top .banner_inner .banner { padding-top: 21px; font-size: 0; width: 1085px; }
#section .top .banner_inner .banner li { position: relative; float: left; /*display: inline-block;*/ height: 243px; width: 19.2%; text-align: center; /*box-sizing: border-box;*/ margin-left: 1%; font-size: 12px; font-weight: 300; overflow: hidden; color: #000000; }
#section .top .banner_inner .banner li:first-child { margin-left: 0; }
#section .top .banner_inner .banner li a { display: block; height: 180px; font-size: 15px; font-weight: 700; width: 100%; color: #000000; box-sizing: border-box; overflow: hidden; }
#section .top .banner_inner .banner li img { width: 100%; height: 180px; overflow: hidden; box-sizing: border-box; margin-bottom: 10px; transform: scale(1, 1); transition: transform 0.3s; overflow: hidden; }
#section .top .banner_inner .banner li:hover img { transform: scale(1.2, 1.2); }
#section .top .banner_inner .banner .txt_in dt { font-size: 14px; font-weight: 300; width: 209px; height: 17px; box-sizing: border-box; font-size: 12px; }
#section .top .banner_inner .banner .txt_in dd a { text-align: center; padding-right: 31px; font-size: 15px; }

#section .center { background-color: #fff; height: 416px; min-width: 1085px; }
#section .center .center_inner { margin: 0 auto; width: 1085px; }
#section .center .center_inner .title { width: 1085px; }
#section .center .center_inner .title h3 { font-size: 30px; }
#section .center .banner2 { min-width: 1085px; height: 192px; background-color: #f5eee6; }
#section .center .banner2 .back { margin: 0 auto; background-image: url(../images/section.png); width: 1085px; height: 259px; position: relative; margin-top: 37px; }
#section .center p { display: block; padding-top: 80px; padding-left: 315px; font-size: 15px; font-weight: 700; color: #020202; }
#section .center p span { display: block; padding-left: 0px; font-size: 18px; font-weight: 700; color: #cc1a3f; }
#section .center .btn a { display: block; position: absolute; bottom: 134px; left: 470px; width: 110px; height: 22px; background-color: #fff; text-align: center; font-size: 15px; font-weight: 500; color: #4c4a49; border-radius: 5px; }
#section .center .btn a:hover { background-color: #918c8a; color: #fff; }

#section .bottom { height: 366px; min-width: 1085px; background-color: #f8f8f8; }
#section .bottom .bottom_inner { margin: 0 auto; height: 366px; width: 1085px; background-color: #f8f8f8; }
#section .bottom .bottom_inner .title { padding-top: 56px; position: relative; }
#section .bottom .bottom_inner .title h3 { display: block; font-size: 30px; }
#section .bottom .bottom_inner .title span { position: absolute; top: 75px; left: 370px; font-size: 13px; color: #979797; }
#section .bottom .bottom_inner .content { float: left; margin-top: 25px; width: 517px; }
#section .bottom .bottom_inner .content2 { float: right; margin-top: 25px; width: 517px; }
#section .bottom .bottom_inner .banner3 { float: left; width: 257px; height: 195px; position: relative; overflow: hidden; }
#section .bottom .bottom_inner .banner3 img { width: 257px; height: 195px; }
#section .bottom .bottom_inner .txt3 { position: relative; display: inline-block; width: 257px; height: 195px; background-color: #fff; text-align: center; }
#section .bottom .bottom_inner .txt3::before { content: ""; display: block; position: absolute; left: 105px; bottom: 40px; width: 50px; height: 2px; background-color: #3f3f3f; }
#section .bottom .bottom_inner .txt3::after { content: ""; display: block; position: absolute; left: 136px; bottom: 47px; width: 20px; height: 1px; transform: rotate(35deg); background-color: #3f3f3f; }
#section .bottom .bottom_inner .txt3 a { display: block; height: 100%; font-size: 15px; font-weight: 700; color: #272525; }
#section .bottom .bottom_inner .txt3 span.span1 { display: block; padding-top: 55px; font-weight: 200; font-size: 15px; color: #272525; }
#section .bottom .bottom_inner .txt3 span.span2 { display: block; margin-top: 20px; }

#section .news { min-width: 1085px; background-color: #fff; height: 80px; }
#section .news .news_inner { margin: 0 auto; width: 1085px; }
#section .news .news_inner .title h3 { margin-left: 10px; margin-top: 10px; font-size: 30px; font-weight: 700; }
#section .news .news_inner .left { float: left; }
#section .news .news_inner .left .list { width: 514px; margin-top: 20px; }
#section .news .news_inner .left .list li { display: inline-block; float: left; width: 514px; line-height: 30px; }
#section .news .news_inner .left .list li a { width: 500px; font-size: 15px; font-weight: 700; }
#section .news .news_inner .left .list li span { float: right; font-size: 12px; color: #ababab; }
#section .news .news_inner .right { float: left; margin-left: 54px; }
#section .news .news_inner .right .icon { float: left; margin-right: 10px; margin-top: 20px; }
#section .news .news_inner .right .call { margin-top: 20px; width: 500px; }
#section .news .news_inner .right .call dt a { font-size: 18px; font-weight: 700; }
#section .news .news_inner .right .call dd { font-size: 15px; font-weight: 200; }
#section .news .news_inner .right .box1 { float: left; width: 500px; padding-top: 10px; }
#section .news .news_inner .right .box1 li { display: inline-block; width: 74px; padding: 0px 10px; line-height: 35px; border: 1px solid #000; text-align: center; }
#section .news .news_inner .right .box1 li:hover, #section .news .news_inner .right .box1 li a:hover { background-color: #000; color: #fff; }
#section .news .news_inner .right .box1 li a { font-size: 15px; display: block; color: #000; font-weight: 200; }

#footer .top { background-color: #f5eee6; min-width: 1085px; height: 194px; margin-top: 138px; }
#footer .top .top_inner { margin: 0 auto; position: relative; width: 1085px; background-image: url(../images/Untitled-1.png); height: 192px; background-size: 1200px; }
#footer .top .top_inner .font { margin: 0 auto; width: 1085px; height: 192px; position: relative; }
#footer .top .top_inner .font p { width: 100%; padding-top: 42px; font-size: 24px; font-weight: 700; color: #cc1a3f; text-align: center; }
#footer .top .top_inner .font p .span1 { display: block; width: 100%; font-size: 18px; font-weight: 700; color: #333333; text-align: center; }
#footer .top .top_inner .font p .span2 { font-size: 30px; font-weight: 700; color: #333333; }
#footer .top .top_inner .box { position: absolute; left: 461px; bottom: 10px; text-align: center; }
#footer .top .top_inner .box a { display: block; width: 167px; height: 29px; border: 1px solid #6c6c6c; }
#footer .top .top_inner .box a:hover { background-color: #918c8a; color: #fff; }

#footer .bottom { background-color: #333333; min-width: 1085px; height: 213px; }
#footer .bottom .last { margin: 0 auto; width: 1085px; }
#footer .bottom .last .left { float: left; width: 447px; }
#footer .bottom .last .left .link { width: 290px; }
#footer .bottom .last .left .link li { display: inline-block; padding-top: 47px; margin-right: 21px; }
#footer .bottom .last .left .link li a { display: block; color: #ffffff; }
#footer .bottom .last .left .txt_b { margin-top: 34px; }
#footer .bottom .last .left .txt_b p { font-size: 10px; color: #fff; }
#footer .bottom .last .left .txt_b p span { font-size: 13px; }
#footer .bottom .last .right { float: right; }
#footer .bottom .last .right .list { margin-top: 53px; }
#footer .bottom .last .right .icon { float: right; margin-top: 29px; margin-right: 41px; }
#footer .bottom .last .right .icon li { display: inline-block; padding: 0 9px; position: relative; }
#footer .bottom .last .right .icon li .blog img { width: 21px; height: 17px; }
#footer .bottom .last .right .icon li .face img { width: 9px; height: 17px; }
#footer .bottom .last .right .icon li .ins img { width: 17px; height: 17px; }
#footer .bottom .last .right .icon li::after { content: ""; display: block; position: absolute; right: 0; top: 1px; width: 1px; height: 15px; background-color: #a8a3a3; }
#footer .bottom .last .right .icon li:last-child::after { display: none; }

/*# sourceMappingURL=style.css.map */
