@charset "utf-8";
/*본문 바로가기 입니다.*/
.skip_nav a {
	display: block;
	position: fixed;
	left: 0;
	z-index: 3;
	top: -1000px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	background-color: #385170;
	color: #fff;
}
.skip_nav a:focus{
	top:0;
}
/*메뉴영역*/

#header .menu_zone { position: fixed; top: 0; left: 0; min-width:1200px; width: 100%; height: 90px; z-index: 3; text-align: center; background-color: transparent; overflow: hidden; font-size: 0; transition: all 0.3s;}

#header .menu_zone::before{ content: ""; position: absolute; display: block; left: 0; z-index: 4; top: 89px; width: 100%; height: 1px; background-color: #000; opacity: 20%;}


#header .menu_inner{ margin: 0 auto; position: relative; width: 1200px; height: 90px; }

/*logo location*/
#header .logo { position: absolute; left:0; top: 32px; width: 190px;}

#header .logo img {max-width: 100%;}

#header .location { position: absolute; right: 0; top: 30px; font-size: 0; z-index: 3; }

#header .location li { display: inline-block; position: relative; padding: 0 10px; }

#header .location li::before { content: ""; position: absolute; display: block; left: 0; top: 3px; width: 2px; height: 15px; background-color: #dedede; }

#header .location li:first-child::before{ display: none; }

#header .location li a { display: block; font-size: 14px; color: #fff; }

/*메뉴*/
#gnb > ul {width: 100%;}

#gnb > ul > li { z-index: 1000; margin-top: 12px; display: inline-block; padding: 0 48px; position: relative; }

#gnb > ul > li > a { display: block; padding-bottom: 20px; line-height: 65px; font-size: 17px; font-weight: 500; color: #fff; } /* 수정 line-height padding-bottom */

/*가상요소 .fixed .active*/

#header .menu_zone.active { height: 489px; background-color: #fff; }

#header .menu_zone.fixed {background-color: #fff;} 

#header .menu_zone.fixed .location li a {color: #1ab1ff;} 

#header .menu_zone.active .location li a {color: #1ab1ff;} 

.fixed #gnb > ul > li > a {color: #0051b2;}

.active #gnb > ul > li > a {color: #0051b2;}
/* ************************************************** */

#gnb ul ul { z-index: 4; position: absolute; left: 0; top: 78px; text-align: center; width: 100%; height: 489px; border-right: 1px solid #f1f1f1; font-size: 0; padding-top: 10px;}

#gnb > ul > li:first-child > ul {border-left: 1px solid #f1f1f1;}

#gnb > ul > li:hover > a, #gnb > ul > li > a.active{font-weight: 700;} 

#gnb ul ul:hover, #gnb ul ul.active {background-color: #c6e1ef;} 

#gnb ul ul li a { display: block; color: #000; line-height: 40px; font-size: 15px; font-weight: 300; }

#gnb ul ul li a:hover, #gnb ul ul li a:focus {color: #0051b2;} 

.color { position:absolute; left: 0; top: 90px; z-index: 2; height: 0; width: 100%; background-color: #fff; transition: height 0.4s;}

.color.active {height: 399px;}

/*slider*/

#header .slider_zone {position: relative; min-width: 1200px; z-index: 1;}

#header .slider_zone .slider{ margin: 0 auto; min-width: 1200px; height: 675px; /*703px*/ position: relative; overflow: hidden; z-index: 1; }

#header .slider_zone .slider img { width: 100%; /*height: 100%;*/}

#header .slider_zone .slider ul { width: 500%; position: absolute; left: 0; top: 0; height: 675px; transition: left 0.3s; z-index: 1; }

#header .slider_zone .slider li { position: absolute; left: 0; top: 0; width: 20%; height: 675px; overflow: hidden; z-index: 1; opacity: 0; transition: opacity 0.7s;}

#header .slider_zone .slider li.current{ opacity: 1; }

#header .slider_zone .top_btn .left{ position: absolute; left: 88px; top: 372px; z-index: 2; }

#header .slider_zone .top_btn .right{ position: absolute; right: 88px; top: 372px; z-index: 2; }

#header .slider_zone .bottom_btn { position: absolute; bottom: 15px; width: 100%; text-align: center; z-index: 2; }

#header .slider_zone .bottom_btn li { display: inline-block; text-indent: -100000px; width: 17px; height: 17px; background-color: transparent; border: 2px solid #fff; border-radius: 50%; box-sizing: border-box; margin-left: 10px;}

#header .slider_zone .bottom_btn li:first-child { margin-left: 0; }

#header .slider_zone .bottom_btn li.on{background-color: #fff;}

#header .slider_zone .bottom_btn a { display: block; }

#header .slider_zone .slider li span {width: 100%; display: block; font-size: 50px; color: #fff; text-align: left;}

#header .slider_zone .slider li .span1{ position:absolute; left:0; top:40%; color: #fff; font-size: 50px; font-weight: 400; text-align: center; width: 100%;}

#header .slider_zone .slider li .span1::after{content:""; display: block; position: absolute; top: 220%; left: 45%; background-color: #fff; width: 10%; height: 1px;}

#header .slider_zone .slider li .span1_1{position:absolute; left:0; top:50%; color: #fff; font-size: 50px; font-weight: 700; text-align: center; width: 100%; }

#header .slider_zone .slider li .sub1 {position:absolute; left:0; top:70%; color: #fff; font-size: 30px; font-weight: 200; text-align: center; width: 100%; 
}

#header .slider_zone .slider li .span2{ position:absolute; left:0; top:200px; font-size: 50px; font-weight: 700; width: 100%; text-align: center; color: #fff;}

#header .slider_zone .slider li .span2 .sub2 {text-align: center; font-size: 30px; font-weight: 300; width:100%; word-spacing: 66px;}

#header .slider_zone .slider li .span3{ position:absolute; top:100px; font-size: 50px; font-weight: 700; width: 100%; text-align: center;}

#header .slider_zone .slider li .span3::after{content:""; display: block; position: absolute; top: 120%; left: 40%; background-color: #fff; width: 20%; height: 1px;}

#header .slider_zone .slider li .sub_3{position:absolute; left: 0; top: 350px; font-size: 30px; font-weight: 200; width: 100%; text-align: center; color: #fff;}
/*section*/
#section{ position: relative; width: 100%; }

#popup{ position: fixed; display: block; right: 39px; top: 623px; z-index: 100000; height: 180px; width: 66px; text-align: center; transition: transform 0.3s; transform:translateY(0);}

#popup.move1 {transform:translateY(-152px);}

#popup.move2 {transform:translateY(0);}

#popup li{ position:relative; display: inline-block; }

#popup li a{ display: block; font-size: 10px; color: #fff; font-weight: 300; text-align: center; }

#popup li.phone img{ position: absolute; top: 15px; left: 22px; }

#popup .kakao{ margin-top: 8px; }

#popup .kakao img{ width: 25px; height: 23px; text-align: center; padding: 14px 18.5px 0; }

#popup.kakao span{ width: 100%; height: 20px; background-color: #FFDB00; vertical-align: bottom; }

#popup li:nth-child(1) a{ background-color: #60CDCC; width: 40px; height: 10px; padding: 42px 11px 10px 11px; }

#popup li:nth-child(2) a{ background-color: #FFDB00; width: 62px; height: 62px; font-size: 10px; color: #000; font-weight: 400; }

#popup .btn { margin-top: 11px; width: 62px; height: 62px; margin-left: 14px; }

#popup .btn img { margin-top: 12px; }

#popup .btn a { width: 35px; height: 35px; border-radius: 50%; border: 2px solid #60CDCC; }


/*****top******/
#section .top { min-width: 1200px; position: relative; background-color: #C6E1EF; height: 502px;}

#section .top_inner { display: block; width: 1200px; margin: 0 auto;}

#section .top .top_inner .title { width: 1200px; text-align: center; padding-bottom: 100px; /*padding-top: 80px;*/padding-top:100px; background-color: #C6E1EF;}

#section .top .top_inner .title h3 { color: #0051B2; font-size: 32px; font-weight: bold; margin-bottom: 20px; }

#section .top .top_inner .title span{ font-size: 18px; color: #fff; font-weight: 400;}

#section .top .top_inner .banner_box{ margin: 0 auto; width: 1200px; max-width: 1203px; height: auto; }

#section .top .top_inner .banners { min-width: 1200px; height: 441px; }

#section .banners > ul > li > a { display: block; width: 100%; background-color: transparent; /*opacity: 50%;*/ height: 441px; z-index: 1000; }

#section .banners li .back {position:absolute; top:0; left:0; display:block; background-color: #000; width: 100%; height: 441px; opacity:50%; }

#section .top .top_inner .banners li { /*width: 25%;*/width:300px; float: left; height: 441px; position: relative; transition: transform 0.4s;}

#section .top .top_inner .banners li:nth-child(1) { background: url(../images/banner1.jpg) no-repeat center center; background-size: 100% 441px; }

#section .top .top_inner .banners li:nth-child(2) { background: url(../images/banner2.jpg) no-repeat center center; background-size: 100% 441px; }

#section .top .top_inner .banners li:nth-child(3) { background: url(../images/banner3.jpg) no-repeat center center; background-size: 100% 441px; }

#section .top .top_inner .banners li:nth-child(4) { background: url(../images/banner4.jpg) no-repeat center center; background-size: 100% 441px; }

#section .top .top_inner .banners .btn{ display: none; position: absolute; left: 25%; top: 307px; width: 100%; height: 48px; /*border-radius: 23.98px; background-color: #fff;*/ text-align: center; z-index: 100000;} 

#section .top .top_inner .banners .btn a { position: relative; display: block; width: 50%; line-height: 48px; color: #0051B2; font-size: 16px; font-weight: 200; z-index: 2000; background-color: #fff; border-radius: 23.98px; }

#section .top .top_inner .banners .btn a::before{ content: ""; position: absolute; display: block; right: 10px; width: 0; top: 16px; height: 0; border: 7px solid #0051B2; border-bottom-color:transparent; border-right-color: transparent; border-top-color: transparent; }

#section .top .top_inner .banners li .span1 { font-size: 24px; font-weight: bold; color: #fff; position: absolute; top: 223px; width: 100%; text-align: center; transition: top 0.4s; z-index: 100000;}

#section .top .top_inner .banners li .span2 { font-size: 20px; font-weight: 500; color: #fff; position: absolute; top: 299px; width: 100%; text-align: center; transition: top 0.4s; z-index: 100000; }

#section .top .top_inner .banners li .icon { position: absolute; top: 82px; width: 100%; text-align: center; opacity:0; transition: opacity 0.4s; z-index: 100000;}

/* **************banner hover************** */
#section .top .top_inner .banners li:hover .icon, #section .top .top_inner .banners li .icon.trick {opacity: 1;}

#section .top .top_inner .banners li:hover .span1, #section .top .top_inner .banners li a:focus .span1{top:146px;}

#section .top .top_inner .banners li:hover .span2, #section .top .top_inner .banners li a:focus .span2{top:223px;}

#section .top .top_inner .banners li:hover, #section .top .top_inner .banners li.trick { transform: translateY(-84px); }

#section .top .top_inner .banners li:hover .back, #section .top .top_inner .banners li .back.trick{ background-color: #1AB1FF; opacity:80%;}

#section .top .top_inner .banners li:hover .btn, #section .top .top_inner .banners li a:focus + .btn{ display: block;}

/* ***************************************************************** */

/*middle*/
#section .middle { clear: both; min-width: 1200px; height: auto; }

#section .middle .middle_inner{display: block; width: 1200px; margin:0 auto;}

#section .middle .title { width: 100%; text-align: center; padding-top: 80px; }

#section .middle .title span{ font-size: 18px; color: #BEBEBE; font-weight: 400; }

#section .middle .title h3 { color: #0051B2; font-size: 32px; font-weight: bold; margin-bottom: 40px; }

#section .middle .banner_box{ margin: 0 auto; width: 100%; max-width: 1203px; height: auto;}

#section .middle .banner{ width: 100%; height: 838px; }

#section .middle .banner img{ width: 100%; height: 280px; border-radius: 10px 10px 0 0; }

#section .middle .banner li {float: left; width: 386px; margin-left:20px; height: 390px; border: 1px solid #dedede; box-sizing: border-box; border-radius: 10px; /*overflow: hidden;*/ margin-top: 27px; position: relative;}

#section .middle .banner li:nth-child(3n+1){ margin-left: 0; }

#section .middle .banner dt{ font-size: 18px; font-weight: 400; color: #000; text-align: left; /*width: 100%; height: 79px;*/padding:10px; }

#section .middle .banner dd { /*position: absolute; display: block; width: 100%; bottom: 2px; left: 0;*/ text-align: left; font-size: 15px; /*font-weight: 100;*/ margin-left: 0; padding: 10px; box-sizing:border-box; }

#section .middle .sub { clear: left; margin: 0 auto; max-width: 1203px; position: relative; width: 100%; text-align: center; height: 50px; margin-top: 25px;}

#section .middle .sub a { display: block; width: 159px; height: 48px; color: #0051B2; font-size: 17px; font-weight: 500; border: 2px solid #0051B2; border-radius: 23.5px; line-height: 48px; margin: 0 auto; }

#section .background_box{ clear: left; min-width: 1200px; background: url(../images/background-color.jpg) no-repeat center center; background-attachment: fixed; background-size: cover; }

#section .background_img { margin: 0 auto;margin-top: 25px; width: 1200px; height: 368px; /*background: url(../images/background-color.jpg) no-repeat center center; background-attachment: fixed; background-size: cover;*/ }

#section .background_img h3 { padding-top: 106px; text-align: center; font-size: 32px; color: #fff; font-weight: bold; }

#section .background_img p { margin-top: 30px; width: 100%; text-align: center; font-size: 29px; font-weight: 500; color: #fff; }

/*section center*/

#section .center{ margin: 0 auto; clear: both; min-width: 1200px; margin-top: 10px; position: relative; height: auto; background-color: #0051B2;}

#section .center .cover .cover_inner{ height: 337px; }

#section .center .left{ float:left; width: 50%; height: 337px; background-color: #0051B2; }

#section .center .left .group { height: 337px; width: 500px; float: right;}

#section .center p{ padding-top: 100px; color: #fff; font-size: 24px; }

#section .center .left p{width: 100%; text-align: left; }

#section .center span {font-size: 20px; font-weight: 200; color: #fff; text-align: left; line-height: 80px; }

#section .center .left .btn{ /*margin-left: 576px;*/ width: 159px; height: 48px; background-color: transparent; border:2px solid #fff; border-radius: 23.5px; text-align: center; }

#section .center .left .btn a{ display: block; font-size: 17px; font-weight: 300; color: #fff; line-height: 48px; }

#section .center .right{ float:left; width: 50%; height: 337px; background-color: #1AB1FF; text-align: left; }

#section .center .right .group {width: 600px; height: 337px; padding-left: 126px; box-sizing: border-box;}

#section .center .right p{ width: 100%;}

#section .center .right p span{width:100%; font-size: 20px; font-weight: 200; }

#section .center .right .btn{width: 159px; height: 48px; background-color: transparent; border:2px solid #fff; border-radius: 23.5px; text-align: center; }

#section .center .right .btn a{ display: block; font-size: 17px; font-weight: 300; color: #fff; line-height: 48px; }

/*section bottom*/

#section .bottom { clear: both; min-width: 1200px;  position: relative;}

#section .bottom .bottom_inner { width: 1200px; margin: 0 auto; width: 1200px; height: 506px;}

#section .bottom .title { width: 100%; text-align: center; padding-top: 80px; }

#section .bottom .title span{ font-size: 18px; color: #BEBEBE; font-weight: 400; }

#section .bottom .title h3 { color: #0051B2; font-size: 32px; font-weight: bold; margin-bottom: 40px; }

#section .bottom .bottom_inner .logo_icon{ width: 1200px; /*height: 166px;*/ margin-top: 50px; text-align: center; }

#section .bottom .bottom_inner .logo_icon img { /*height: 100%;*/ /*width: 80%;*/}

#section .bottom .bottom_inner .logo_icon li { float:left; width: 160px; height: 50px; /*border: 1px solid #dedede;*/ box-sizing: border-box; margin-left: 100px; margin-bottom: 38px; }

#section .bottom .bottom_inner .logo_icon li:nth-child(5n+1){ margin-left: 0; }

#section .bottom .bottom_inner .sub { position: absolute; bottom: 40px; left: 0px; width: 100%; text-align: center; }

#section .bottom .bottom_inner .sub a { display: block; margin: 0 auto; width: 159px; height: 48px; color: #0051B2; font-size: 17px; font-weight: 500; border: 2px solid #0051B2; border-radius: 23.5px; line-height: 50px; }

#section .bottom .bottom_inner .logo_icon li:nth-child(1){ background: url(../images/bottom_logo1.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(2){ background: url(../images/bottom_logo2.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(3){ background: url(../images/bottom_logo3.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(4){ background: url(../images/bottom_logo4.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(5){ background: url(../images/bottom_logo5.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(6){ background: url(../images/bottom_logo6.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(7){ background: url(../images/bottom_logo7.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(8){ background: url(../images/bottom_logo8.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(9){ background: url(../images/bottom_logo9.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}
#section .bottom .bottom_inner .logo_icon li:nth-child(10){ background: url(../images/bottom_logo10.png) no-repeat center center; text-indent: -9999999px; overflow: hidden;}

/*footer top*/

#footer .top { clear: both; min-width: 1200px; background-color: #5e5d5a; border-bottom: 2px solid #dedede; position: relative; height: 79px; }

/*#footer .top .top_inner::before{ content: ""; display: block; position: absolute; width: 100%; top: 0; left: 0; height: 1; background-color: #f90; }

#footer .top::after{ content: ""; display: block; position: absolute; width: 100%; bottom: 0; left: 0; height: 1; background-color: #f90; }*/

#footer .top .top_inner { width: 1200px; margin: 0 auto; /*height: 79px;*/ }

#footer .top .top_inner .cover { height: 79px; width: 100%; }

#footer .top .top_inner .left{ float: left; width: 50%; height: 79px; }

#footer .top .top_inner .left li { display: inline-block; position: relative; }

#footer .top .top_inner .left li::after { content: ""; display: block; position: absolute; right: 0; top: 30px; width: 1px; height: 20px; background-color: #dedede; }

#footer .top .top_inner .left li:first-child a { padding-left: 0; }

#footer .top .top_inner .left a { display: block; color: #fff; padding: 0 17px; line-height: 79px; }

#footer .top .top_inner .right { float: right; height: 79px; }

#footer .top .top_inner .right li { margin-top: 20px; float: left; }

#footer .top .top_inner .right li:nth-child(1) img{ width: 20px; height: 39px; }

#footer .top .top_inner .right li:nth-child(2) img{ width: 39px; height: 39px; }

#footer .top .top_inner .right li:nth-child(3) img{ width: 52px; height: 39px; }

#footer .top .top_inner .right img { width: 38px; height: 37px; }

#footer .top .top_inner .right li a { display: block; padding: 0 28px; }

/*footer bottom*/

#footer .bottom{ clear: both; min-width: 1200px; background-color: #5e5d5a; height: 232px; }

#footer .bottom .bottom_inner { margin: 0 auto; width: 100%; width: 1200px; }

#footer .bottom .bottom_inner h2 { float: left; margin-top: 60px; }

#footer .bottom .bottom_inner p { float: left; padding-top: 41px; color: #fff; font-size: 17px; font-weight: 500; margin-left: 20px; line-height: 30px; }

#footer .bottom .bottom_inner span { font-weight: 300; }