@charset "utf-8";

* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	border: 0;
}
body.fixed{
	overflow-y: hidden;
}
.clearfix::before{
	content: "";
	display: block;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.dim{
	display: none;
	position: fixed;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	z-index: 1001;
	background-color: rgba(0,0,0,0.6);
	text-indent: -999999px;
}
.dim.active{
	display:block;
}
.controller{
	position: fixed;
	right: 40px;
	top: 25%;
	z-index: 100000;
	width: 110px;
}
.controller ul{
	position: relative;
}
.controller ul::before {
	content: "";
	display:block;
	position: absolute;
	right: -10%;
	top: 10%;
	width: 1px;
	height: 180px;
	background-color: #fff;
	opacity: 0.1;
}
.controller span {
	display:block;
	position: absolute;
	right: -10%;
	top: 10%;
	width: 1px;
	height: 100%;
	background-color: #fff;
	transition: height 0.3s;
}
.controller li{
	position: relative;
	width: 100%;
	line-height: 3;
}
.controller li::before {
	content: "";
	display:block;
	position: absolute;
	right: -11.8%;
	top: 47%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 50%;
	box-sizing: border-box;
	transition: all 0s;
	transform: scale(1, 1);
}
.controller li:hover::before,
.controller li.effect::before {
	transform: scale(2, 2);
	opacity: 1;
}
.controller li.color::before{
	opacity: 1;
}
.controller li a{
	display: block;
	width: 100%;
	color: #fff;
	font-size: 12px;
	text-align: right;
	opacity: 0;
	transition: opacity 0.3s;
}
.controller li:hover a,
.controller li.effect a {
	opacity: 1;
}
.controller.color li a{
	color: #000;
}
.controller.color li::before,
.controller.color ul::before,
.controller.color span{ /* 수정 */
	background-color: #000;
}
#header{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 700px;
	background-color: transparent;
	overflow: hidden;
}
#pc{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	font-size: 1em;
	z-index: 1100;
}
#pc.fixed{
	background-color: #000;
	opacity:58%;
}
#pc .pc_inner{
	max-width: 940px;
	margin:0 auto;
	position: relative;
}
#pc .pc_inner .logo{
	padding: 15px 5px;
}
#pc .pc_inner .btn_on{
	position: absolute;
	right: 5px;
	top: 20px;
	display: none;
}
#pc ul{
	width: 100%;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}
#pc ul li {
	display: inline-block;
}
#pc ul li a{
	display: block;
	color: #fff;
	padding: 26px;
	font-size: 1em;
	position: relative;
}
#pc ul li:hover a,
#pc ul li:focus a,
#pc ul li.active a {
	color: #006aba;
}
#pc ul li:nth-child(1) a::after{
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	left: 27%;
	width: 0;
	height: 2px;
	transition: width 0.3s;
	background-color: #006aba;
}
#pc ul li:nth-child(1):hover a::after,
#pc ul li:nth-child(1):focus a::after,
#pc ul li.active:nth-child(1) a::after{
	width: 50px;
}
#pc ul li:nth-child(2) a::after{
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 2px;
	transition: width 0.3s;
	background-color: #006aba;
}
#pc ul li:nth-child(2):hover a::after, 
#pc ul li:nth-child(2):focus a::after,
#pc ul li.active:nth-child(2) a::after{
	width: 80px;
}
#pc ul li:nth-child(3) a::after{
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	left: 19%;
	width: 0;
	height: 2px;
	transition: width 0.3s;
	background-color: #006aba;
}
#pc ul li:nth-child(3):hover a::after, 
#pc ul li:nth-child(3):focus a::after,
#pc ul li.active:nth-child(3) a::after{
	width: 90px;
}
#pc ul li:nth-child(1n+4) a::after{
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 2px;
	transition: width 0.3s;
	background-color: #006aba;
}
#pc ul li:nth-child(1n+4):hover a::after, 
#pc ul li:nth-child(1n+4):focus a::after,
#pc ul li.active:nth-child(1n+4) a::after{
	width: 75px;
}
#mobile {
	position: fixed;
	right: -58.750em;
	top: 0;
	z-index: 1003;
	width: 15.000em;
	height: 100vh;
	background-color: #fff;
	transition: right 0.3s;
	box-sizing: border-box;
	overflow-y: auto;
}
#mobile.active {
	right: 0;
}
#mobile .btn_close {
	position: fixed;
	top: 24px;
	right: -43.125em;
	z-index: 1004;
	transition: right 0.3s;
}
#mobile .btn_close.active{
	right: 250px;
}
#mobile ul {
	padding: 50px 25px;
	font-size: 1em;
}
#mobile li a{
	position: relative;
	display: block;
	line-height: 3;
	font-size: 1.1em;
	color: #5e3d96;
	font-weight: 700;
}
#mobile li a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #f1f1f1;
	
}
#header .slider {
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	font-size: 1em;
	position: relative;
}
#header .slider ul.main > li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	opacity:0;
	transform: scale(1.15, 1.15);
	transition: opacity 2s, transform 5s;
}
#header .slider ul.main > li:nth-child(1){
	background: url(../images/keyvisual.jpg) no-repeat center center;
	background-size: cover;
}
#header .slider ul.main > li:nth-child(2){
	background: url(../images/slider2.jpg) no-repeat center center;
	background-size: cover;
}
#header .slider ul.main > li:nth-child(3){
	background: url(../images/slider3.jpg) no-repeat center center;
	background-size: cover;
}
#header .slider ul.main > li:nth-child(4){
	background: url(../images/slider4.jpg) no-repeat center center;
	background-size: cover;
}
#header .slider ul.main > li.active {
	opacity: 1;
	transform: scale(1, 1);
}
#header .slider ul.main ul {
	width: 100%;
	position:absolute;
	top: 10.125em;
}
#header .slider ul.main ul li.more {
	text-align: center;
	padding: 3.813em 0;
}
#header .slider ul.main ul li.more a {
	color: #fff;
	padding: 1.250em 5.625em;
	width: 240px;
	background-color: transparent;
	border: 1px solid #fff;
	box-sizing:border-box;
	font-weight: 700;
	font-size: 1em;
	transform: translateX(-80px);
	transition: none;
	opacity: 0;
}
#header .slider ul.main > li.active li.more a {
	transform: translateX(0);
	transition: transform 1s, opacity 0.3s;
	opacity:1;
	transition-delay: 0.5s;
}
#header .slider ul.main ul li.text {
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	transform: translateX(-80px);
	opacity: 0;
}
#header .slider ul.main li:nth-child(2) ul li.text{
	padding-top: 100px; 
}
#header .slider ul.main li:nth-child(3) ul li.text{
	padding-top: 100px; 
}
#header .slider ul.main li.active ul li.text {
	opacity:1;
	transform: translateX(0);
	transition: transform 0.8s, opacity 0.3s;
	transition-delay: 1s;
	position: relative;
}
#header .slider ul.main ul li.text span{
	font-size: 2.500em;
}
#header .slider ul.main ul li.text h2 {
	padding-top: 10px;
	font-size: 3.125em;
}
/*#header .slider ul.main ul li.text span{
	font-size: 2.500em;
}
#header .slider ul.main ul li.text h2 {
	padding-top: 10px;
	font-size: 3.125em;
}*/

/*slider gauge*/
#header .slider .gauge_bar{
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	height:24px;
	text-align: center;
	z-index: 80000;
}
#header .slider .gauge_bar li{
	position:relative;
	display: inline-block;
	margin-left: 10px;
	height:24px;
}
#header .slider .gauge_bar li:first-child{
	margin-left: 0;
}
#header .slider .gauge_bar li a{
	display: block;
	color: rgba(255, 255, 255, 0.2);
	position: relative;
}
#header .slider .gauge_bar li a::after{
	content: attr(data-hover);
	position: absolute;
	left: 0;
	top: 0;
	max-width: 0;
	overflow: hidden;
	color: #fff;
	opacity:1;
}
#header .slider .gauge_bar li.active a::after{
	max-width:100%;
	transition: max-width 5s;
}
#header .slider .btn_1{
	position: absolute;
	display: block;
	bottom: 90px;
	width: 100%;
	z-index: 999999;
	text-align: right;
}
#header .slider .btn_1 ul{
	position: relative;
	display: block;
	bottom: 0;
	max-width: 350px;
	margin: 0 auto;
}
#header .slider .btn_1 ul li{
	width: 100%;
	display: none;
}
#header .slider .btn_1 ul li.active{
	display: block;
}
#header .slider .btn_1 ul li a{
	margin:0 auto;
	display:block;
	width: 20px;
	height: 20px;
	color: #fff;
	text-indent: -9999999px;
}
#header .slider .btn_1 ul li:nth-child(1) a span::after {
	position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 2px;
    height: 10px;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-left: 2px solid #ffff;
}
#header .slider .btn_1 ul li:nth-child(2) a span::before {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	border: 6px solid #fff;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	
}
#header .slider .gauge_bar .ball{
	display: block;
	position: absolute;
	top:-10px;
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0;
	transition: left 0.3s;
}
#header .slider .gauge_bar.on .ball{
	opacity: 1;
}
#content {
	padding-top: 700px;
}
#content .page1{
	width: 100%;
	font-size: 1em;
}
#content .page1 .page1_inner{
	max-width: 940px;
	margin: 0 auto;
	padding: 6.250em 0 3.500em;
}
#content .title {
	text-align: center;
	line-height: 2;
	padding-bottom: 5.313em;
}
#content .title h3 {
	font-size: 2.500em;
	color: #006aba;
}
#content .title span {
	color: #767875;
}
#content .page1 .page1_inner .icon > ul > li {
	text-align: center;
	transform: translateY(80px);
	transition: transform 1s, opacity 0.6s;
	opacity: 0;
}
#content .page1.on .page1_inner > .icon > ul > li{
	transform: translateY(0);
	opacity: 1;
}
#content .page1 .page1_inner .icon > ul > li{
	float: left;
	width: 33.333%;
}
/*#content .page1.on .page1_inner .icon ul ul{
	transform:translateY(0);
	opacity:1;
}*/
#content .page1 .page1_inner .icon li.text_title{
	font-weight: 700;
	font-size: 1.125em;
	line-height: 3.5;
}
#content .page1 .page1_inner .icon li img {
	border-radius: 50%;
	border: 2px solid #603d99;
	width: 150px;
	height: 150px;
	transform: scale (1.0);
	transition: transform 0.6s;
}
#content .page1 .page1_inner .icon li:hover img{
	transform: scale(1.2);
	transition: transform 0.6s;
}
#content .page1 .page1_inner .icon li.text_content{
	color: #777978;
	line-height: 1.5;
}
#content .page2 {
	clear: both;
	width:100%;
	background-color: #f7f7f7;
	padding: 6.250em 0 10.313em;
	font-size: 1em;
}
#content .page2 .page2_inner{
	max-width: 940px;
	margin: 0 auto;
}
#content .page2 .page2_inner .title {
	padding-bottom: 0;
	padding-bottom: 2.813em; 
}
#content .page2 .page2_inner .box_banner > ul > li {
	float: left;
	margin-left: 35px;
	width: calc((100% - 70px)/3);
	margin-top: 45px;
	transform: translateY(10px);
	opacity: 0;
	overflow: hidden;
}
#content .page2.on .page2_inner .box_banner > ul > li {
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.6s, opacity 0.5s;
}
#content .page2 .page2_inner .box_banner > ul > li:nth-child(3n+1){
	margin-left: 0;
}
#content .page2 .page2_inner .box_banner li img {
	width: 100%;
	z-index: 1000;
	transform: scale(1.0);
	transition: transform 1s;
}
#content .page2 .page2_inner .box_banner li:hover img{
	transform: scale(1.1);
	transition: transform 1s;
}
#content .page2 .page2_inner li ul.text {
	background-color: #fff;
	width: 100%;
	height: 97px;
	text-align: center;
	padding: 20px 0 20px;
	box-sizing: border-box;
	line-height: 2;
	transform: rotateX(180deg);
	transition: transform 1s;
	opacity: 0;
}

#content .page2.on .page2_inner li ul.text{
	transform: rotateX(0);
	opacity: 1;
}
#content .page2 .page2_inner li.text_title{
	font-weight: 700;
	font-size: 1.125em;
}
#content .page2 .page2_inner li.text_content{
	font-size: 0.875em;
	color:#777978;
}
#content .page3{
	width: 100%;
	font-size: 1em;
}
#content .page3 .page3_inner {
	max-width: 940px;
	margin: 0 auto;
	padding: 6.250em 0 15.188em;
}
#content .page3 .page3_inner .banners{
	width: 100%;
	text-align: center;
}
#content .page3 .page3_inner .banners > ul {
	position: relative;
}
#content .page3.on .page3_inner .banners > ul::before{
	transform: translateY(0);
	height: 95.9%;
}
#content .page3 .page3_inner .banners > ul::before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top:4.1%;
	width: 5px;
	height: 0;
	background-color: #f1f1f1;
	z-index: 0;
	transition: height 5s;
	transition-delay: 0.5s;
}
#content .page3 .page3_inner .banners > ul > li{
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 55px 0;
}
#content .page3 .page3_inner .banners > ul > li:nth-child(1) img{
	transition-delay: 0s;
}
#content .page3 .page3_inner .banners > ul > li:nth-child(2) img{
	transition-delay: 1s;
}
#content .page3 .page3_inner .banners > ul > li:nth-child(3) img{
	transition-delay: 1.5s;
}
#content .page3 .page3_inner .banners > ul > li:nth-child(4) img{
	transition-delay: 2s;
}
#content .page3 .page3_inner .banners > ul > li:nth-child(5) img{
	transition-delay: 3s;
}
#content .page3 .page3_inner .banners > ul > li img {
	border-radius: 50%;
	position: absolute;
	left: 40%;
	border: 8px solid #f1f1f1;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.3s;
}
#content .page3.on .page3_inner .banners > ul > li img {
	opacity:1;
}
#content .page3 .page3_inner .banners li ul.text{
	width: 42%;
	box-sizing: border-box;
}
#content .page3 .page3_inner .banners li ul li.text_title{
	font-weight: 700;
	font-size: 1.125em;
}
#content .page3 .page3_inner .banners li ul li.text_title .br3_2{
	display: none;
}
#content .page3 .page3_inner .banners li ul li.text_content{
	font-size: 0.875em;
	padding-top: 20px;
	color: #777978;
}
#content .page3 .page3_inner .banners li li{
	transform: translateY(-80px);
	transform: rotateX(-180deg);
	opacity: 0;
}
#content .page3.on .page3_inner .banners li li {
	opacity: 1;
	transform: translateY(0);
	transform: rotateX(0);
	transition: transform 0.6s, opacity 0.7s;
}
#content .page3 .page3_inner .banners li li:nth-child(1),
#content .page3 .page3_inner .banners li:nth-child(1) li{
	transition-delay: 0s;
}
#content .page3 .page3_inner .banners li li:nth-child(2){
	transition-delay: 0.3s;
}
#content .page3 .page3_inner .banners li:nth-child(2) li{
	transition-delay: 1s;
}
#content .page3 .page3_inner .banners li:nth-child(2) li:nth-child(2){
	transition-delay: 1.3s;
}
#content .page3 .page3_inner .banners li:nth-child(3) li{
	transition-delay: 1.5s;
}
#content .page3 .page3_inner .banners li:nth-child(3) li:nth-child(2){
	transition-delay: 1.8s;
}
#content .page3 .page3_inner .banners li:nth-child(4) li{
	transition-delay: 2s;
}
#content .page3 .page3_inner .banners li:nth-child(4) li:nth-child(2){
	transition-delay: 2.3s;
}
#content .page3 .page3_inner .banners li:nth-child(5) li{
	transition-delay: 3s;
}
#content .page3 .page3_inner .banners li:nth-child(5) li:nth-child(2){
	transition-delay: 3.3s;
}
#content .page3 .page3_inner .banners li:nth-child(odd) ul.text{
	float: left;
	text-align: right;
	padding: 10px 30px 10px 0;
}
#content .page3 .page3_inner .banners li:nth-child(even) ul.text{
	float: right;
	text-align: left;
	padding: 10px 0px 10px 30px;
}
#content .page3 .page3_inner .banners li:last-child {
	padding-bottom: 0;
}
#content .page4 {
	width: 100%;
	font-size: 1em;
	padding: 6.250em 0;
	background-color: #f1f1f1;
}
#content .page4 .page4_inner{
	max-width: 940px;
	margin: 0 auto;
}
#content .page4 .page4_inner .banners {
	padding: 0 4.375em;
	box-sizing: border-box;
}
#content .page4 .page4_inner .banners > ul > li {
	float: left;
	margin-left: 46px;
	width: calc((100% - 92px)/3);
	box-sizing:border-box;
	text-align: center;
	transform: translateX(-80px);
	opacity: 0;
}
#content .page4 .page4_inner .banners > ul > li:first-child{
	margin-left: 0;
}
#content .page4.on .page4_inner .banners > ul > li {
	transform: translateX(0);
	opacity:1;
	transition: transform 0.8s, opacity 0.9s;
}
#content .page4 .page4_inner .banners > ul > li:nth-child(1){
	transition-delay: 0s;
	margin-left: 0;
}
#content .page4 .page4_inner .banners > ul > li:nth-child(2){
	transition-delay: 0.5s;
}
#content .page4 .page4_inner .banners > ul > li:nth-child(3){
	transition-delay: 1s;
}
#content .page4 .page4_inner .banners > ul > li a img {
	border-radius: 50%;
	box-sizing: border-box;
	border: 5px solid #fff;
	/*width: 230px;
	height: 230px;*/
	width: 100%;
}
#content .page4 .page4_inner .banners li li.text_title{
	padding: 20px 0;
	font-size: 1.125em;
	font-weight: 700;
}
#content .page4 .page4_inner .banners li li.text_content{
	font-size: 0.875em;
	color: #777978;
	line-height: 1.5;
}
#content .page5 {
	width: 100%;
	font-size: 1em;
}
#content .page5 .page5_inner{
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}
#content .page5 .page5_inner li {
	display: inline-block;
}
#content .page6 {
	width: 100%;
	background: url(../images/contact_background.jpg) no-repeat center center;
	background-size: cover;
	padding: 6.250em 0 5.188em;
	font-size: 1em;
}
#content .page6 .page6_inner{
	max-width: 940px;
	margin:0 auto;
}
#content .page6 .page6_inner .title {
	color:#fff;
}
#content .page6 .page6_inner .enquiry {
	text-align: center;
	font-size: 1em;
}
#content .page6 .page6_inner .enquiry input[type=text] {
	padding: 20px 20px;
	font-size: 0.875em; /* 14px */
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	border: none;
	outline: 0;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
::placeholder {
	color: #cccccc;
	font-style:italic;
}
textarea::placeholder {
	color: #cccccc;
	font-family: "Open Sans", sans-serif;
	padding: 7px 13px;
	font-size: 0.875em; /* 14 */
}
#content .page6 .page6_inner .enquiry input[type=email]{
	padding: 20px 20px;
	font-size: 0.875em; /* 14 */ 
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	border: none;
	outline: 0;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
#content .page6 .page6_inner .enquiry input[type=submit]{
	clear: both;
	display: block;
	padding: 20px 60px;
	font-size: 0.875em; /* 14 */
	color: #fff;
	font-family: "Open Sans", sans-serif;
	background-color: #603d99;
	border: none;
	outline: 0;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 auto;
	font-weight:500;
}
#content .page6 .page6_inner .enquiry .name{
	float: left;
	width: 47%;
} 
#content .page6 .page6_inner .enquiry .email {
	float: left;
	clear: both;
	margin-top: 28px;
	width: 47%;
}
#content .page6 .page6_inner .enquiry .subject {
	float: left;
	clear: both;
	width: 47%;
	margin-top: 28px;
	margin-bottom: 28px;
}
#content .page6 .page6_inner .enquiry textarea {
	width: 50%;
	height: 237px;
	border: 1px solid #4acaa9;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 0.875em;
}
#footer .last{
	padding: 25px 0 20px;
	width: 100%;
	float: left;
	font-size: 1em;
}
#footer .last .footer_inner {
	max-width: 940px;
	margin: 0 auto;
}
#footer .left{
	width: 78%;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}
#footer .left p{
	line-height: 2;
	width: 100%;
	font-size: 0.813em;
	word-spacing: 0.1px;
	color: #545456;
}
#footer .left p .br6{
	display: none;
}
#footer .left p .br6_1{
	display: none;
}
#footer .right{
	float: right;
	width: 22%;
}
#footer .right li {
	display: inline-block;
	margin-left: 6px;
}
#footer .right li a {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #222222;
	border-radius: 50%;
	color: #fff;
}
#footer .right li:first-child a::before{
	position: absolute;
	top: 12px;
	left: 14px;
	font-size: 1.063em;
	color: #fff;
	text-align: center;
}
#footer .right li:nth-child(2) a::before{
	position: absolute;
	top: 11px;
	left: 11px;
	font-size: 1.063em;
	color: #fff;
	text-align: center;
}
#footer .right li a::before{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.063em;
	color: #fff;
	text-align: center;
}



@media only screen and (max-width: 940px){
	#pc ul li a{
		padding-left: 10px;
		padding-right: 10px;
	}
	#content .page1 .page1_inner .icon > ul > li{
		float: none;
		width: 100%;
		padding-top: 60px;
	}
	#content .page1 .page1_inner .title {
		padding-bottom: 0;
	}
	#content .page3 .page3_inner .banners > ul > li  a img {
		left: 0;
		border: 5px solid #f1f1f1;
		box-sizing: border-box;
	}
	#content .page3 .page3_inner .banners li {
		width: 100%;
		text-align: center;
	}
	#content .page3 .page3_inner .banners li:nth-child(odd) ul.text{
		padding: 10px 0;
	}
	#content .page3 .page3_inner .banners li:nth-child(even) ul.text{
		padding: 10px 0;
	}
	#content .page3 .page3_inner .banners li ul.text {
		width: 100%;
		text-align: center;
	}
	#content .page3 .page3_inner .banners li .text li{
		text-align: left;
		padding-left: 180px;
		padding-right: 5%;
		box-sizing: border-box;
	}
	#content .page3 .page3_inner .banners li .text li .br3 {
		display: none;
	}
	#content .page3 .page3_inner .banners > ul > li  a img {
		width: 167px;
		height: 167px;
	}
	#content .page3 .page3_inner .banners > ul::before{
		left: 83px;
		top:4.1%;
	}
	#content .page4 .page4_inner .banners{
		text-align: center;
	}
	#content .page4 .page4_inner .banners > ul > li {
		padding-top: 44px;
	}
	/*#content .page4 .page4_inner .banners > ul > li:first-child{
		padding-top: 0;
	}*/
	#content .page5 .page5_inner li {
		width: 24%;
	}
	#content .page6 .page6_inner .enquiry {
		font-size: 1.143em;
		padding: 0 50px;
	}
	#content .page6 .page6_inner .enquiry .name,
	#content .page6 .page6_inner .enquiry .email,
	#content .page6 .page6_inner .enquiry .subject,
	#content .page6 .page6_inner .enquiry textarea {
		float: none;
		width: 100%;
	}
	#content .page6 .page6_inner .enquiry input[type=submit] {
		margin-top: 50px;
	}
	#footer .left {
		width: 50%;
	}
	#footer .left p .br6{
		display: inline;
	}
	#footer .right {
		width: 50%;
		text-align: right;
	}
	#pc ul li:nth-child(1) a::after{
		left: 13%;
	}
	#pc ul li:nth-child(2) a::after{
		left: 13%;
	}
	#pc ul li:nth-child(3) a::after{
		left: 13%;
	}
	#pc ul li:nth-child(1n+4) a::after{
		left: 13%;
	}
}

@media only screen and (max-width: 720px){
	#pc ul {
		display: none;
	}
	#pc .pc_inner .btn_on {
		display: block;
	}
	#header .slider {
		font-size: 0.750em;
	}
	#content .page1, #content page2, #content .page3, #content .page4, #content .page6 {
		font-size: 0.875em;
	}
	#content .page2 .page2_inner .box_banner > ul > li {
		width: calc((100% - 35px)/2);
	}
	#content .page2 .page2_inner .box_banner > ul > li:nth-child(3n+1) {
		margin-left: 35px;
	}
	#content .page2 .page2_inner .box_banner > ul > li:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
	#content .page4 .page4_inner .banners > ul > li {
		float: none;
		margin-left: 0;
		width: 100%;
	}
	#content .page4 .page4_inner .banners > ul > li:first-child{
		padding-top: 0;
	}
	#content .page4 .page4_inner .banners > ul > li a img {
		width: 230px;
		height: 230px;
	}
	#content .page5 .page5_inner li {
		width: 50%;
		float: left;
	}
	#footer .left {
		width: 79%;
	}
	#footer .right {
		clear: both;
		width: 100%;
		text-align: left;
		padding-top: 13px;
	}
	#footer .left p .br6{
		display: none;
	}
	.controller {
		display: none;
	}
}

@media only screen and (max-width: 460px){
	#content .page3 .page3_inner .title {
		padding: 0 90px;
	}
	#content .page1 .page1_inner .title {
		padding: 0 74px;
	}
	.slider {
		font-size: 0.600em;
	}
	#content .page1, #content .page2 {
		font-size: 0.750em;
	}
	#content .page2 .page2_inner .box_banner > ul > li {
		float: none;
		margin: 0 auto;
		margin-top: 25px;
	}
	#content .page2 .page2_inner .box_banner > ul > li:nth-child(2n+1) {
		margin: 0 auto;
		margin-top: 25px;
	}
	#content .page2 .page2_inner .box_banner > ul > li:nth-child(3n+1) {
		margin: 0 auto;
		margin-top: 25px;
	}
	#content .page2 .page2_inner .box_banner > ul {
		width: 100%;
	}
	#content .page3 .page3_inner .banners li ul li.text_content, 
	#content .page3 .page3_inner .banners > ul::before,
	#content .page3 .page3_inner .title .br2{
		display: none;
	}
	#content .page3 .page3_inner .banners li ul li.text_title .br3_2{
		display: block;
	}
	#content .page3 .page3_inner .banners li ul li.text_title{
		padding-top: 40px;
	}
	#content .page5 .page5_inner {
		display: none;
	}
	#footer .left {
		width: 100%;
		padding: 0 10px;
	}
	#footer .left p .br6_1{
		display: inline;
	}
	#footer {
		width: 100%;
		text-align: center;
	}
	#footer .right{
		width: 100%;
		text-align: center;
	}
}